body {
    margin: 0;
    padding: 0;
    background: #e5e5e5; /* abu-abu lembut */
    font-family: "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topbar {
    width: 100%;
    padding: 15px;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}

select {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 16px;
}

/* Card utama */
#card {
    margin-top: 200px;
    width: 780px;
    min-height: 320px;
    background: #ffffff;
    border-radius: 15px;
    border: 1px solid #ddd;        /* contour */
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s;
}

#card:hover {
    transform: scale(1.02);
}

#dictionaryList {
    margin-top: 30px;
    width: 800px;
    display: none;
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

.wordRow {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

/* Desktop */
.container {
    margin-top: 50px;
}

/* Mobile */
@media (max-width: 768px) {
    .container {
        margin-top: 20px;
        padding: 15px;
    }
}
